ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="FWYJVFL5", KERNEL=="ttyUSB*", SYMLINK+="filterwheel", MODE="0666", OWNER="venanzoni", GROUP="venanzoni"
