ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="A600crfu", KERNEL=="ttyUSB*", SYMLINK+="filterwheel", MODE="0666", OWNER="newg2", GROUP="newg2"
