ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="06cd", ATTRS{idProduct}=="0108", KERNEL=="ttyUSB*", SYMLINK+="keyspan", MODE="0666", OWNER="newg2", GROUP="newg2"
